.root{
    position: relative;
    top: -1215px;
    display: flex;
    justify-content: center;
}

.modal_container{
    padding: 40px 80px;
    background: white;
    border-radius: 25px;
    border: 2px solid;
}
.container_button{
    display: flex;
    justify-content: space-around;  
    margin: 15px 0;
    
}