.content {
  text-align: center;
  padding: 55px 20px;
}
@media (min-width: 768px) {
  .content {
    padding: 80px 160px;
  }
}
.container__text_title {
  margin-bottom: 110px;
}
.container__text {
  text-align: center;
  margin-top: 55px;
}
.text_title {
  padding: 50px;
  text-align: center;
}
