.map{
    border: 1px dashed ;
}
.input{
    border-radius: 10px;
    width: 100%;
    height: 57px;
    max-width: 360px;
    padding: 12px 20px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
.container__mapbox{
}
.container__input {
    display: block;
    margin-bottom: 20px;
}